<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="Test" type="System.Data.SqlLocalDb.TraceSourceLoggerTests+TestTraceListener, System.Data.SqlLocalDb.UnitTests" />
    </sharedListeners>
    <sources>
      <source name="System.Data.SqlLocalDb">
        <listeners>
          <add name="Test" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Data.SqlLocalDb" value="Off" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>