################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.metadata
.settings
_ReSharper*
bin
Bin
BuildOutput
InternalAssemblies
obj
packages
StyleCop.Cache
TestResults
*.DotSettings
*.opensdf
*.sdf
*.sln.cache
*.suo
*.user
/src/Tools/NuGet/NuGet.exe.old