.DS_Store
.dotnetcli
.idea
.metadata
.settings
.vs
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
coverage
coverage.*
node_modules
obj
packages
project.lock.json
samples/TodoApp/wwwroot/**/*.min.css
samples/TodoApp/wwwroot/**/*.min.js
TestResults
typings
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.coverage
*.DotSettings
*.log
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
