<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="MyDataContext" connectionString="metadata=res://*/MyData.csdl|res://*/MyData.ssdl|res://*/MyData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=MyDatabase;integrated security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.diagnostics>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="System.Data.SqlLocalDb">
        <listeners>
          <add name="Console" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Data.SqlLocalDb" value="Verbose" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>