<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="System.Data.SqlLocalDb">
        <listeners>
          <add name="Console" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Data.SqlLocalDb" value="Verbose" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>