<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.data.sqlLocalDb" type="System.Data.SqlLocalDb.Configuration.SqlLocalDbConfigurationSection, System.Data.SqlLocalDb" />
  </configSections>
  <system.data.sqlLocalDb loggerType="System.Data.SqlLocalDb.LoggerTests+TestLogger, System.Data.SqlLocalDb.UnitTests" />
</configuration>