<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.data.sqlLocalDb" type="System.Data.SqlLocalDb.Configuration.SqlLocalDbConfigurationSection, System.Data.SqlLocalDb" />
  </configSections>
  <appSettings>
    <add key="SQLLocalDB:AutomaticallyDeleteInstanceFiles" value="true" />
    <add key="SQLLocalDB:OverrideVersion" value="11.0" />
  </appSettings>
  <system.data.sqlLocalDb
    automaticallyDeleteInstanceFiles="false"
    overrideVersion="12.0"
    stopOptions="KillProcess, NoWait"
    stopTimeout="00:00:30"
    />
</configuration>