<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.13.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
    <section name="system.data.sqlLocalDb" type="System.Data.SqlLocalDb.Configuration.SqlLocalDbConfigurationSection, System.Data.SqlLocalDb" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Debug" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.data.sqlLocalDb automaticallyDeleteInstanceFiles="true" loggerType="System.Data.SqlLocalDb.Log4NetLogger, System.Data.SqlLocalDb.TestApp" stopOptions="NoWait" />
  <system.diagnostics>
    <sharedListeners>
      <add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
    </sharedListeners>
    <sources>
      <source name="System.Data.SqlLocalDb">
        <listeners>
          <add name="Console" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="System.Data.SqlLocalDb" value="Verbose" />
    </switches>
    <trace autoflush="true" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>