<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="system.data.sqlLocalDb" type="System.Data.SqlLocalDb.Configuration.SqlLocalDbConfigurationSection, System.Data.SqlLocalDb" />
  </configSections>
  <system.data.sqlLocalDb
    automaticallyDeleteInstanceFiles="true"
    language="fr-FR"
    loggerType="System.Data.SqlLocalDb.EmptyLogger, System.Data.SqlLocalDb.UnitTests"
    overrideVersion="11.0"
    stopOptions="KillProcess, NoWait"
    stopTimeout="00:00:30"
    />
</configuration>