@model ICollection<BlogPostViewModel>

@{
    ViewBag.Title = "Archive";
}

<h2>Archive</h2>

<ul>
    @foreach (var post in Model)
    {
        <li>@Html.ActionLink(post.Title, "Post", new { id = post.Id })</li>
    }
</ul>
