<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="SqlLocalDb Rules" Description="This rule set contains rules for the SqlLocalDb solution." ToolsVersion="12.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1707" Action="None" />
  </Rules>
</RuleSet>