<h2>Add New Item</h2>
<form asp-controller="Home" asp-action="AddItem" method="post" role="form" class="row gx-3 gy-2 align-items-center">
    <div class="col-auto col-md-11">
        <label class="visually-hidden" for="new-item-text">Thing to do</label>
        <input autocomplete="off"
               autofocus
               class="form-control form-control-lg"
               id="new-item-text"
               name="text"
               placeholder="Buy eggs 🥚"
               type="text">
    </div>
    <div class="col-auto">
        <button class="btn btn-lg btn-primary" disabled id="add-new-item" type="submit">Add</button>
    </div>
</form>
